.welcome {
    background-color: #99ffcc;
    height: 100vh;
}

.img-welcome {
    margin-top: 10rem;
}

.project-tile {
    min-height: 100vh;    
    padding-top: 8rem;
}

#contact {
    background-color: #99ffcc;
    height: 90vh;
    margin-top: -1.5rem;
    padding-top: 6.3rem;
}

.myfoot {
    padding-top: 1rem;
    padding-bottom: .1rem;
}